version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mern_backend
    
    env_file:
      - .env
      
    ports:
      - "8000:8000"
      
    depends_on:
      - mongodb
    
    restart: always

  mongodb:
    image: mongo:latest
    container_name: mern_mongodb
    ports:
      - "27017:27017"
      

    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: